<footer class="footer" style="text-align: center;">
    <small >
      &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.<br>
      This website is not endorsed, sponsored, or otherwise approved by the University of Birmingham.<br /> 
      Whilst great efforts are made to keep this website accurate, some timings may be missed or change at short notice. Please review building information on their respective websites for the most accurate information.<br /> 
      This website uses <a href="https://support.google.com/analytics/answer/6004245?hl=en">Google Analytics</a>. <br />
    </small>
    <a href="https://github.com/KRoperUK/uobstudyspaces"><i style="margin-top: 0.2em; font-size: 3em;" class="fab fa-github"></i> </a>
</footer>